# No editor stuff (lol)
.vscode

# No tests
/orange-bot/tests/
orange-bot/tests
/orange-bot/tests
orange-bot/tests/
orange-bot/tests
orange-bot/tests/**/*
orange-bot/tests/tester-npm/
orange-bot/tests/tester/

# No pesky files
.DS_Store